.material-switch {
    margin-bottom: 30px;
}
.material-switch > label > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #fff;
    border-radius: 8px;
    content: '';
    height: 18px;
    margin-top: -8px;
    position:absolute;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #616b7b;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 14px;
    left: 2px;
    margin-top: -8px;
    position: absolute;
    top: 2px;
    transition: all 0.3s ease-in-out;
    width: 14px;
}
.label-active::before {
    background: #fff !important;
    box-shadow: none !important;
    opacity: 1 !important;
}
.label-active::after {
    background: rgba(64,121,255,1) !important;
    left: 24px !important;
}